:root{
			--bgcolor: #F0F0A0;
			--titlecolor: #000090;
			--textcolor: #000030;
			--boxcolor: #A0A0FF;
		}
		
		html, body{
			height: 100%;
			width: 100%;
			background-color: var(--bgcolor);
			color: var(--textcolor);
			text-align: center;
		}
		
		h1{
			font-size: 2em;
			font-weight: bold;
			color: var(--titlecolor);
		}
		
		h3{
			font-size: 1em;
			font-weight: bold;
			color: var(--titlecolor);
		}
		
		.container{
			width: 100%;
			text-align: center;
		}
		
		.nftbox{
			display: inline-block;
			background-color: var(--boxcolor);
			width: 300px;
			border-width: 2px;
			border-color: var(--titlecolor);
			border-radius: 10px;
			margin: 10px;
		}
		
		.nftimg{
			border-radius: 5px;
			width: 200px;
			height: 200px;
		}